input.numberInput{
    width: 50px;
}

.fixedTable {
    width: 450px;
}

.table-condensed>tbody>tr>th, .table-condensed>tbody>tr>td {
    padding: 0px;
}

.jumbotron {
    position: relative;
    background: url("headingImage.png") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 0;
}

.textOverImage {
    color:black;
}

.boldText {
    font-weight: bold;
}
