input.numberInput{
    width: 50px;
}

.fixedTable {
    width: 450px;
}

.jumbotron {
    position: relative;
    background: url("headingImage.png") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden
}

.textOverImage {
    color:black;
}