/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  font-size: 14px;
}

select {
  font-size: 14px;
}

input {
    font-size: 14px;
    width: 50px;
    border: 1px solid darkgrey;
    border-radius: 5px;
}

th {
    font-weight: bold;
}

th .left {
    text-align: left;    
}

th .right {
    text-align: right;    
}

td .left {
    text-align: left;    
}

td .right {
    text-align: right;    
}